// ==============================
// Custom style
// 自定义样式
// ==============================
.home .home-profile .home-avatar img {
    width: 16rem !important;
    height: auto;
    border-radius: 16px; // smooth corners
}